body {
  font-family: Hind, sans-serif;
}
@media (min-width: 786px) {
  body > * {
    padding: 50px 5% 50px 5%;
  }
}
@media (max-width: 785px) {
  body > * {
    padding: 50px 15px 50px 15px;
  }
}
h2 {
  color: #57565f;
  font-size: 30px;
}
h3 {
  color: #57565f;
  font-size: 20px;
}
p {
  color: #b6b2b1;
  font-size: 14px;
}
a {
  text-decoration: none;
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 9999;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
}
.header .menu-icon {
  display: none;
}
@media (max-width: 1000px) {
  .header .menu-icon {
    display: block;
  }
}
.headerClose .menu-list {
  display: none;
}
@media (min-width: 1000px) {
  .headerClose .menu-list {
    display: flex;
    flex-direction: row;
  }
  .headerClose .menu-list a {
    display: block;
    text-decoration: none;
  }
}
.headerOpen .menu-list {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 9998;
  box-sizing: border-box;
}
.header {
  height: 100px;
}
@media (min-width: 786px) {
  .header {
    padding: 50px 5% 50px 5%;
  }
}
@media (max-width: 785px) {
  .header {
    padding: 50px 15px 50px 15px;
  }
}
.header .logo {
  width: 146px;
  height: 28px;
}
.header .menu-icon .line1 {
  width: 10px;
  height: 1px;
  background-color: black;
  margin-bottom: 5px;
}
.header .menu-icon .line2 {
  width: 15px;
  height: 1px;
  background-color: black;
  margin-bottom: 5px;
}
.header .menu-icon .line3 {
  width: 20px;
  height: 1px;
  background-color: black;
  margin-bottom: 5px;
}
.header .menu-icon:hover > * {
  width: 20px;
  background-color: blue;
  transition-property: background-color, width;
  transition-duration: 500ms;
}
.header .menu-icon:not(hover) > * {
  transition-property: background-color, width;
  transition-duration: 500ms;
}
.header .menu-list > * {
  list-style-type: none;
  margin-right: 40px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}
.header .menu-list > *:last-child {
  margin-right: 0px;
}
.header a {
  text-decoration: none;
}
.headerClose .menu-item > div {
  width: 10px;
  height: 2px;
  display: inline-block;
  position: relative;
  top: -3px;
  right: 10px;
}
.headerClose .menu-item > a {
  display: inline-block;
}
.headerClose .menu-item:hover div {
  background-color: #1fbacc;
  transition-property: background-color;
  transition-duration: 500ms;
}
.headerClose .menu-item:not(hover) div {
  background-color: initial;
  transition-property: background-color;
  transition-duration: 500ms;
}
.headerOpen .menu-list {
  width: 100%;
  top: 100px;
  left: 0px;
  padding-top: 20px;
  padding-left: 50px;
  background-color: white;
}
.headerOpen .menu-list .menu-item {
  list-style-type: none;
  margin-bottom: 20px;
}
@media (min-width: 1000px) {
  .headerCloseBackground {
    border-bottom: solid 1px #afb1bd;
    transition-property: background-color;
    transition-duration: 500ms;
  }
}
@media (max-width: 1000px) {
  .headerCloseBackground {
    border-bottom: none;
    background-color: white;
  }
}
.headerCloseBackground .logo {
  background-image: url(../img/logo.png);
}
@media (max-width: 1000px) {
  .headerCloseBackground .logo {
    background-image: url(../img/logo-dark.png);
  }
}
.headerCloseBackground .menu-list > * > a {
  color: white;
}
.headerOpenBackground {
  background-color: white;
}
.headerOpenBackground .logo {
  background-image: url(../img/logo.png);
}
@media (max-width: 1000px) {
  .headerOpenBackground .logo {
    background-image: url(../img/logo-dark.png);
  }
}
.headerOpenBackground .menu-list > * > a {
  color: #5a5d62;
  font-family: Hind, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.headerScrollBackground {
  background-color: white;
  transition-property: background-color;
  transition-duration: 500ms;
}
.headerScrollBackground .logo {
  background-image: url(../img/logo-dark.png);
}
.headerScrollBackground .menu-list > * > a {
  color: #5b5d61;
}
.hi-tech-design {
  padding: 0;
}
.hi-tech-design .swiper-container {
  height: 100vh;
}
.hi-tech-design .swiper-container .swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  box-sizing: border-box;
  color: white;
}
@media (min-width: 786px) {
  .hi-tech-design .swiper-container .swiper-slide {
    padding: 110px 5% 50px 5%;
  }
}
@media (max-width: 785px) {
  .hi-tech-design .swiper-container .swiper-slide {
    padding: 110px 15px 50px 15px;
  }
}
.hi-tech-design .swiper-container .swiper-slide .lang-container {
  height: 120px;
}
.hi-tech-design .swiper-container .swiper-slide .lang-container .language {
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #BFF2F9;
  padding-top: 4px;
  padding-left: 20px;
  box-sizing: border-box;
}
.hi-tech-design .swiper-container .swiper-slide .lang-container .language:hover {
  width: 180px;
  height: 100px;
  transition-property: width, height;
  transition-duration: 500ms;
}
.hi-tech-design .swiper-container .swiper-slide .lang-container .language:not(hover) {
  width: 20px;
  height: 20px;
  transition-property: width, height;
  transition-duration: 500ms;
}
.hi-tech-design .swiper-container .swiper-slide .lang-container .language p {
  color: white;
  margin-bottom: 10px;
}
.hi-tech-design .swiper-container .swiper-slide .lang-container .language a {
  width: 60px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
}
.hi-tech-design .swiper-container .swiper-slide h1 {
  color: white;
  font-size: 80px;
  margin-bottom: 50px;
}
@media (max-width: 786px) {
  .hi-tech-design .swiper-container .swiper-slide h1 {
    font-size: 50px;
  }
}
.hi-tech-design .swiper-container .swiper-slide p {
  color: white;
  max-width: 500px;
  margin-bottom: 60px;
}
.hi-tech-design .swiper-container .swiper-slide a {
  display: block;
  font-size: 13px;
  width: 150px;
  height: 50px;
  border: solid 1px white;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.hi-tech-design .swiper-container .swiper-slide a:visited {
  color: white;
}
.hi-tech-design .swiper-container .swiper-slide a:hover {
  background-color: white;
  color: #5A5A5A;
  transition-duration: 500ms;
  transition-property: background-color, color;
}
.hi-tech-design .swiper-container .slide1 {
  background-image: url(../img/slide1.jpg);
}
.hi-tech-design .swiper-container .slide2 {
  background-image: url(../img/slide2.jpg);
}
.hi-tech-design .swiper-container .swiper-buttons {
  position: absolute;
  bottom: 20px;
  left: 100px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  align-items: center;
}
.hi-tech-design .swiper-container .swiper-buttons > * {
  width: 10px;
  height: 10px;
  border: solid 1px white;
  border-radius: 10px;
  cursor: pointer;
}
.hi-tech-design .swiper-container .swiper-buttons .white-button {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: white;
}
.about {
  display: grid;
  box-sizing: border-box;
}
@media (min-width: 1025px) {
  .about {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a1 a2" "a3 a4";
  }
  .about .art-of-coding {
    grid-area: a1;
  }
  .about .clean-design {
    grid-area: a2;
  }
  .about .amazing-support {
    grid-area: a3;
  }
}
@media (max-width: 768px) {
  .about {
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.about > * {
  padding: 15px;
}
.about > * img {
  max-width: 100%;
  height: auto;
  margin-top: 200px;
  transition-property: margin-top;
  transition-duration: 1s;
}
.about .art-of-coding p {
  margin-bottom: 60px;
}
.about .clean-design img {
  margin-bottom: 60px;
}
.about .amazing-support p {
  margin-bottom: 60px;
}
.why-choose-us {
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 786px) {
  .why-choose-us {
    flex-direction: column;
  }
  .why-choose-us .question {
    margin-bottom: 50px;
    width: 90%;
  }
}
.why-choose-us .question {
  margin-right: 5%;
  width: 40%;
}
.why-choose-us .question p {
  margin-bottom: 30px;
}
.why-choose-us .question .button {
  display: block;
  background-color: #515669;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
}
.why-choose-us .question .button:hover {
  background-color: #17bed1;
  transition-property: background-color;
  transition-duration: 500ms;
}
.why-choose-us .categories {
  width: 60%;
}
.why-choose-us .categories > * {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px 15px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100px;
  transition-property: height;
  transition-duration: 500ms;
  cursor: pointer;
}
.why-choose-us .categories > * h3 {
  margin-bottom: 40px;
  font-weight: bold;
}
.why-choose-us .categories > * p {
  color: white;
}
.why-choose-us .categories > *:hover > h3 {
  color: #d6d2d0;
}
.why-choose-us .categories .blue-style {
  background-color: #17bed1;
  color: white;
  height: 200px;
}
.why-choose-us .categories .blue-style h3 {
  color: white;
}
.latest-products {
  box-sizing: border-box;
}
.latest-products p {
  margin-bottom: 30px;
  max-width: 400px;
}
.latest-products .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 786px) {
  .latest-products .container {
    flex-direction: column;
  }
}
.latest-products .container > * {
  width: 30%;
}
@media (max-width: 786px) {
  .latest-products .container > * {
    width: 100%;
    margin-bottom: 15px;
  }
}
.latest-products .container > * img {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;
}
.latest-products .container > * a {
  display: inline;
  margin-right: 20px;
}
.latest-products .container > * a h3:hover {
  color: #77767f;
}
.latest-products .container > * .position {
  color: #b6b2b1;
  display: inline;
}
.latest-products .container > * .read-more {
  font-size: 14px;
  color: #57565f;
  display: inline;
  font-weight: bold;
}
.latest-products .container > * .read-more:hover {
  color: #77767f;
}
.latest-products .container > * .read-more:after {
  position: relative;
  top: -4px;
  display: inline-block;
  content: "";
  width: 10px;
  height: 2px;
  background-color: blue;
  margin-left: 10px;
}
.price {
  background-color: #fafafa;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 786px) {
  .price {
    flex-direction: column;
  }
}
.price .conteiner-item1,
.price .conteiner-item3 {
  margin: 50px 2px 50px 0;
  padding: 50px 30px;
}
.price .conteiner-item2 {
  padding: 50px 30px;
}
.price > * {
  background-color: white;
  margin-right: 2px;
}
.price > * img {
  display: block;
  width: 30px;
  height: 30px;
}
.price > * ul {
  margin-left: 30px;
  margin-bottom: 30px;
}
.price > * ul > * {
  color: #a6a2a1;
  list-style-type: none;
}
.price > * ul > *:before {
  position: relative;
  top: -4px;
  content: "";
  display: inline-block;
  width: 10px;
  height: 2px;
  background-color: #1dbbce;
  margin-right: 10px;
}
.price > * .button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f3f4f6;
  display: block;
  color: #525865;
}
.price > * .button:hover {
  color: white;
  background-color: #1dbbce;
  transition-property: background-color, color;
  transition-duration: 500ms;
}
.price > * .button:not(hover) {
  color: #525865;
  background-color: #f3f4f6;
  transition-property: background-color, color;
  transition-duration: 500ms;
}
.work {
  box-sizing: border-box;
}
.work p {
  margin-bottom: 50px;
  max-width: 500px;
}
.work .galery {
  width: 100%;
  display: grid;
}
.work .galery > * {
  max-width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}
.work .galery > *:hover {
  filter: brightness(40%);
  transition-duration: 500ms;
  transition-property: filter;
}
.work .galery > *:not(hover) {
  filter: brightness(100%);
  transition-duration: 500ms;
  transition-property: filter;
}
@media (min-width: 787px) {
  .work .galery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a5 a5 a1" "a3 a4 a2";
  }
}
@media (max-width: 786px) {
  .work .galery {
    display: flex;
    flex-direction: column;
  }
}
.work .galery .a1 {
  grid-area: a1;
}
.work .galery .a2 {
  grid-area: a2;
}
.work .galery .a3 {
  grid-area: a3;
}
.work .galery .a4 {
  grid-area: a4;
}
.work .galery .a5 {
  grid-area: a5;
}
.sponsors {
  box-sizing: border-box;
  border-top: solid 1px grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1150px) {
  .sponsors .a5 {
    display: none;
  }
}
@media (max-width: 950px) {
  .sponsors .a4 {
    display: none;
  }
}
@media (max-width: 750px) {
  .sponsors .a2 {
    display: none;
  }
}
@media (max-width: 550px) {
  .sponsors .a1 {
    display: none;
  }
}
.services {
  box-sizing: border-box;
  background-color: #fafafa;
}
.services p {
  margin-bottom: 50px;
  max-width: 500px;
}
.services .grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .services .grid {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}
.services .grid > * {
  padding: 10% 20%;
  box-sizing: border-box;
  background-color: white;
  margin: 1px;
}
.services .grid > * .image {
  width: 30px;
  height: 30px;
}
.services .grid > *:hover .image {
  display: none;
}
.services .grid > *:hover * {
  transform: translateY(-20px);
  transition-property: transform;
  transition-duration: 500ms;
}
.services .grid > *:not(hover) .image {
  display: block;
}
.services .grid > *:not(hover) * {
  transform: translateY(20px);
  transition-property: transform;
  transition-duration: 500ms;
}
.services .grid .grid-item2 {
  background-color: #17bed1;
}
.services .grid .grid-item2 h3 {
  color: white;
}
.services .grid .grid-item2 p {
  color: white;
}
.city {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .city {
    flex-direction: column;
  }
}
.city > * {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
.city > * h3 {
  display: inline;
  margin-right: 20px;
}
.city > * .position {
  color: #b6b2b1;
  font-size: 14px;
  display: inline;
}
.city > * .phone {
  color: #b6b2b1;
  font-size: 12px;
  margin-bottom: 10px;
}
.city > * .email {
  color: #b6b2b1;
  font-size: 12px;
}
.map {
  width: 100%;
  padding: 0;
}
.map > * {
  display: block;
  width: 99%;
  height: 300px;
  margin: 0 auto;
}
footer {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
footer .links {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  box-sizing: border-box;
  border-bottom: solid 1px grey;
}
footer .links > * {
  margin-right: 30px;
  color: #57565f;
  font-size: 16px;
  list-style-type: none;
}
footer .links > * > * {
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  footer .links {
    flex-direction: column;
  }
}
footer .foot {
  height: 50px;
  width: 100%;
  padding: 15px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 786px) {
  footer .foot {
    padding: 15px 5px;
    height: 100px;
  }
}
footer .foot img {
  width: 100px;
  height: 20px;
}
footer .foot .text {
  color: #57565f;
  width: 40%;
}
.buttonUp {
  padding: 0;
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: #B1B1B1;
  color: white;
  bottom: 10px;
  right: 10px;
  line-height: 40px;
  text-align: center;
  font-size: 10px;
  border-radius: 2px;
  z-index: 99999;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 500ms;
}
.buttonUp:hover {
  background-color: grey;
  transition-property: background-color;
  transition-duration: 500ms;
}
.unview {
  opacity: 0;
}
